@import url(./m3-theme-colors/dark-hc.css);
@import url(./m3-theme-colors/dark-mc.css);
@import url(./m3-theme-colors/dark.css);
@import url(./m3-theme-colors/light-hc.css);
@import url(./m3-theme-colors/light-mc.css);
@import url(./m3-theme-colors/light.css);


@import url(./borders.css);
@import url(./buttons.css);
@import url(./inputs.css);

@font-face {
    font-family: 'Outfit';
    src: url('./../fonts/outfit.ttf')  format('truetype')
}

html {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    height: 100%;
    color: var(--md-sys-color-on-surface);
    background-color: var(--md-sys-color-primary-container);
}

/* Loader section */
.loader {
  width: 32px;
  height: 32px;
  border: 5px solid;
  border-color: var(--md-sys-color-primary) transparent;
  display: inline-block;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
/* End loader section */