body {
    padding: 0;
    margin: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    height: calc(100% - 128px);
}

.header {
    background-color: var(--md-sys-color-primary-container);
    height: 102px;
    padding: 16px 24px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 999;
}

.page-content {
    color: var(--md-sys-color-on-surface);
    background-color: var(--md-sys-color-surface);
    margin: 16px;
    padding: 32px;
    width: calc(100% - 32px);
    border-radius: 36px;
}

.page-content div.hero-img {
    height: 236px;
    width: 100%;
    border-radius: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}