body {
    padding: 0;
    margin: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    height: calc(100% - 4.0rem);
}

.header {
    background-color: var(--md-sys-color-primary-container);
    height: 2.4rem;
    padding: .8rem 1.6rem;
    display: flex;
    flex-direction: row;
    width: calc(100% - 3.2rem);
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 999;
}

.page-content {
    color: var(--md-sys-color-on-surface);
    background-color: var(--md-sys-color-surface);
    margin: .8rem;
    padding: .8rem;
    border-radius: 1.6rem;
}

.page-content div.hero-img {
    height: 12.8rem;
    width: 100%;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}